:root {
  --primary-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background: #ffffff;
}
.list {
  list-style: none;
}
.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  text-align: center;
}
.header-logo {
  font-family: Raleway;
  font-weight: 700px;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;

  /* identical to box height */
  letter-spacing: 0.03em;

  color: var(--accent-text-color);
}
.header-logo:hover {
  text-decoration: underline;
  color: var(--accent-text-color);
}
.header-logo-span {
  color: var(--title-text-color);
}
.header-nav {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-menu li {
  display: inline;
}
.header-menu a {
  color: var(--title-text-color);
  text-decoration: none;
}
.header-menu a:hover,
.header-menu a:focus {
  color: var(--accent-text-color);
}
.header-menu .curent a {
  color: var(--accent-text-color);
}
.header-contact a {
  color: var(--paragraph-text-color);
  text-decoration: none;
}
.header-contact a:hover,
.header-contact a:focus {
  color: var(--accent-text-color);
}
.header-contact {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-email {
}
.header-tel {
}
.hero {
  width: 1600px;
  height: 600px;
  background: #2f303a;
}
.hero-title {
  font-size: 44px;
  line-height: 60px;

  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text-color);
}
.hero-btn {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  /* identical to box height, or 187% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.hero-btn:hover {
  text-decoration: underline;
  background: #2196f3;
  cursor: pointer;
  color: var(--white-text-color);
}
.features {
}
.features li {
}
.features-item-one {
}
.features-item-two {
}
.features-item-three {
}
.features-item-four {
}
.features h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.features p {
  font-size: 14px;
  line-height: 24px;

  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--paragraph-text-color);
}
.our-service {
}
.our-service-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.our-service li {
}
.our-service-item-one {
}
.our-service-item-two {
}
.our-service-item-three {
}
.our-team {
  background: #f5f4fa;
}
.our-team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.our-team-list {
}
.our-team li {
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-item-one {
}
.our-team-item-two {
}
.our-team-item-three {
}
.our-team-item-four {
}
.our-team h3 {
  font-size: 16px;
  line-height: 19px;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.our-team p {
  font-size: 16px;
  line-height: 19px;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--paragraph-text-color);
}
.our-team-name {
}
.our-team-specialisation {
}
.footer {
  background: #2f303a;
}
.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;

  /* identical to box height */
  letter-spacing: 0.03em;

  color: var(--accent-text-color);
}
.footer-logo-span {
  color: white;
}

.footer-list a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-text-color);
}
.footer-address a {
  color: #ffffff;
}
.footer-email a {
}
.footer-tel a {
}
/* CSS Styles for Portfolio page */
.portfolio-title {
  display: none;
}
.filters li {
  display: inline;
}
.btn {
  border-radius: 4px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background: #f5f4fa;
  list-style: none;
}
.btn:hover,
.btn:focus {
  background: #2196f3;
  color: white;
  cursor: pointer;
}
.projects li {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.projects-list h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;

  /* identical to box height, or 200% */
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.projects-list p {
  font-size: 16px;
  line-height: 30px;

  /* identical to box height, or 187% */
  letter-spacing: 0.03em;

  color: var(--paragraph-text-color);
}
.project-left-one {
}
.project-top-one {
}
.project-left-two {
}
.project-top-two {
}
.project-left-three {
}
.project-top-three {
}
.img {
  width: 370px;
  height: 294px;
}
